<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>gestion pepiniere</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <include-prelude>/WEB-INF/taglibs.jsp</include-prelude>
    </jsp-property-group>
  </jsp-config>
  <servlet>
    <servlet-name>Accueil</servlet-name>
    <servlet-class>servlets.Accueil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Accueil</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Accueil</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Ajouter</servlet-name>
    <servlet-class>servlets.Ajouter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ajouter</servlet-name>
    <url-pattern>/ajouter</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Rechercher</servlet-name>
    <servlet-class>servlets.Rechercher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Rechercher</servlet-name>
    <url-pattern>/rechercher</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Modifier</servlet-name>
    <servlet-class>servlets.Modifier</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Modifier</servlet-name>
    <url-pattern>/modifier</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Detail</servlet-name>
    <servlet-class>servlets.Detail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Detail</servlet-name>
    <url-pattern>/detail</url-pattern>
  </servlet-mapping>
</web-app>